body {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #eb99de;
  background-imag: linear-gradient(rgb(220, 136, 198), rgb(238, 238, 103));
  background-repeat: no-repeat;
  font-family: "Ink Free";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  color: #1c10a7;
}
h1,
p {
  margin-bottom: 0;
  margin-top: 0;
}
.container {
  position: relative;
  width: 650px;
  margin: 0 auto;
  padding: 30px;
  background-color: #e670da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(red, yellow);
}

.edin {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0%, -143%);
}
.danse {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, -60%);
}
.title {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(7%, 3%);
}
.calendar {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-36%, 137%);
}
.pony {
  position: absolute;
  bottom: 0;
  left: 0;
}
.titel {
  margin-bottom: 80px;
}
.in {
  margin-bottom: 70px;
}
.day {
  margin-bottom: 70px;
}
.by {
  margin-bottom: 70px;
}
